<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109766947030-a1va9fo080tcoioqjsu7j3jo4hfkbtq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109766947030-a1va9fo080tcoioqjsu7j3jo4hfkbtq1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109766947030-4oi5i0u241r3aefqa7rtpf4ong4ckg12.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4JBZruWm7i8GI6W5Ge8HjXPN6LxEzZqM</string>
	<key>GCM_SENDER_ID</key>
	<string>109766947030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withcenter.labchat</string>
	<key>PROJECT_ID</key>
	<string>withcenter-test-4</string>
	<key>STORAGE_BUCKET</key>
	<string>withcenter-test-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109766947030:ios:13bfacc7dc9983b6239977</string>
	<key>DATABASE_URL</key>
	<string>https://withcenter-test-4-default-rtdb.firebaseio.com</string>
</dict>
</plist>